body{
    background-color: whitesmoke;
}

#mainMap { 
    
    height: 450px; 
}

#description{
    position: absolute;
    top: 10%;
    left: 30%;
    margin: 0 auto;
    width: 40%;
    height: 20%;
    background-color: white;
    color: black;
    border-radius: 10px;
    text-align: center;
    word-wrap: break-word;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#top{
    position: relative;
}

img{
    margin: auto;
    object-fit: contain;
    width: 100%;

}

